@charset "UTF-8";

body {
	background-color: black;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}

h1, h2, p {
    color: aliceblue;
    margin-top: 50px;
}

header{
    height: 1000px;
    background-image: url(../images/desktop.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}



header img{
	margin-top:175px;
}

header img:hover {
  transform: scaleX(-1);
}  

.reverse{
  transform: scaleX(-1);
}

section img{
	height:200px;
}

/*
.catfish{
	 background-attachment: fixed;
}
*/

.goldfish{
	color:black;
	
}

@media only screen and (max-width: 600px) {
  body {
	  
/*    background-color: lightblue;*/
  }
	h1{
		margin-top:10%;
	}
	header img{
		width: 25%;
		height: auto;
		margin-top:25%;
	}
}

.laptop {
    height: 1000px;
    background-image: url(../images/laptop.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
	margin-right:25%;
}

.iphone{
	height: 2000px;
    background-image: url("../images/iphone.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
	transform: rotate(45deg);
	margins: -100px;
}

.iphoneText{
	transform: rotate(-45deg);
}

.shadowfish{
	margin-top:20%;
}
.smallShadowfish{
	height: 75px;
	width:125px;
    transform: scaleX(-1);
}

.goldfish:hover {
	filter: saturate(300%);
	color:greenyellow;
}

.smallCatfish{
    width: 75px;
	height: auto;
	margin-top:-10%;
	margin-right:-25%;
}

.container{
	color: aliceblue;
}


@media only screen and (max-width: 1500px) {


	header text{
    font-size: medium;		
	}
	
	header img{

		width: 20%;
		height: auto;
		margin-top:10%;
	}
	
	.smallCatfish{
 	width: 50px;
	height: auto;
	margin-top: -15%;
	margin-right:-15%;
	}
	
}

@media only screen and (max-width: 600px) {


	h1{
		margin-top:10%;
	}
	header img{
		width: 25%;
		height: auto;
		margin-top:25%;
	}
	
	.smallCatfish{
 	width: 50px;
	height: auto;
	margin-top: -15%;
	margin-right:-7%;
	}
	
	img{
		height:10%;
		width:auto;
	}
	
	iphone{
		margin: -50px;
	}

}
