@charset "UTF-8";
body{
	background: black;
}
/*
.map{
	height: 1500px;
    background-image: url("../images/map.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
*/
/*
img{
    margin: auto;
    display: block;
}
*/
